.footer {
  margin-bottom: 2rem;
}
.footer .icons {
  text-align: center;
}
.footer .icons .icon {
  color: var(--subtitle);
  font-size: 1.5rem;
  margin: 1rem;
}
.footer .icons .icon:hover {
  cursor: pointer;
  color: var(--icon-hover);
  transition: 0.3s;
}
